<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
      <toolChain
            configurationEnvironmentSupplier="org.eclipse.cdt.android.build.internal.core.NDKEnvSupplier"
            id="org.eclipse.cdt.android.toolChain"
            isAbstract="false"
            name="Android GCC">
         <targetPlatform
               binaryParser="org.eclipse.cdt.core.ELF"
               id="org.eclipse.cdt.android.targetPlatform"
               isAbstract="false">
         </targetPlatform>
         <builder
               cleanBuildTarget="clean"
               command="ndk-build"
               commandLauncher="org.eclipse.cdt.android.build.internal.core.NDKCommandLauncher"
               id="org.eclipse.cdt.android.builder"
               isAbstract="false"
               isVariableCaseSensitive="false"
               name="Android Builder">
         </builder>
         <tool
               id="org.eclipse.cdt.android.gcc.compiler"
               isAbstract="false"
               name="Android GCC Compiler"
               natureFilter="both">
            <option
                  browseType="directory"
                  id="org.eclipse.cdt.android.gcc.option.includePath"
                  isAbstract="false"
                  resourceFilter="all"
                  valueType="includePath">
            </option>
            <inputType
                  id="org.eclipse.cdt.android.gcc.inputType"
                  scannerConfigDiscoveryProfileId="org.eclipse.cdt.android.build.core.AndroidPerProjectProfile"
                  sources="c,cpp">
            </inputType>
         </tool>
      </toolChain>
   </extension>
   <extension
         id="AndroidPerProjectProfile"
         name="Android Per Project Profile"
         point="org.eclipse.cdt.make.core.ScannerConfigurationDiscoveryProfile">
      <scannerInfoCollector
            class="org.eclipse.cdt.android.build.internal.core.discovery.NDKScannerInfoCollector"
            scope="project">
      </scannerInfoCollector>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templateProcessTypes">
      <processType
            name="SetFolders"
            processRunner="org.eclipse.cdt.android.build.internal.core.templates.SetFolders">
         <simple
               name="projectName">
         </simple>
         <simpleArray
               name="sourceFolders">
         </simpleArray>
         <simpleArray
               name="outputFolders">
         </simpleArray>
      </processType>
      <processType
            name="SimpleFile"
            processRunner="org.eclipse.cdt.android.build.internal.core.templates.SimpleFile">
         <simple
               name="projectName">
         </simple>
         <complexArray
               name="files">
            <baseType>
               <simple
                     name="source">
               </simple>
               <simple
                     name="destination">
               </simple></baseType>
         </complexArray>
      </processType>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templates">
      <template
            id="org.eclipse.cdt.android.build.core.addNDKSupport"
            location="templates/addNDKSupport.xml"
            projectType="none">
      </template>
   </extension>

</plugin>
