<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="tcfAgentLauncher" name="TCF Agent Descriptor" schema="schema/tcfAgentLauncher.exsd"/>

   <extension-point id="variableFormatProvider" name="Variable Format Provider" schema="schema/variableFormatProvider.exsd"/>
   <extension-point id="executableSymbolicsReaderFactory" name="Executable Symbolics Reader" schema="schema/executableSymbolicsReaderFactory.exsd"/>
   <extension-point id="debugInfoProviderFactory" name="Debug Information Provider" schema="schema/debugInfoProviderFactory.exsd"/>

   <extension
         id="EDCApplication"
         name="EDC Application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="org.eclipse.cdt.debug.edc.internal.EDCApplication">
         </run>
      </application>
   </extension>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            name="Snapshot Album"
            delegate="org.eclipse.cdt.debug.edc.internal.launch.SnapshotLaunchDelegate"
            modes="debug"
            public="true"
            id="org.eclipse.cdt.debug.edc.snapshot">
      </launchConfigurationType>
  </extension>
   
      <extension
         point="org.eclipse.debug.core.sourceContainerTypes">
      <sourceContainerType
            class="org.eclipse.cdt.debug.edc.internal.snapshot.AlbumSourceContainerType"
            description="Maps files to the album archive"
            id="org.eclipse.cdt.debug.edc.containerType.albumMapping"
            name="Album Mapping"/>
    </extension>

   <extension
       point="org.eclipse.cdt.debug.core.SourceFilesProvider">
      <provider class="org.eclipse.cdt.debug.edc.internal.symbols.EDCSourceFilesProvider"/>
   </extension>
   
   <extension
         point="org.eclipse.cdt.scripting.scriptableFeature">
      <scriptableClass
            class="org.eclipse.cdt.debug.edc.internal.scripting.EDC"
            name="edc">
      </scriptableClass>
      <scriptableClass
            class="org.eclipse.cdt.debug.edc.internal.scripting.ExecutionContext"
            name="executionContext">
      </scriptableClass>
      <scriptableClass
            class="org.eclipse.cdt.debug.edc.internal.scripting.Launcher"
            name="launcher">
      </scriptableClass>
      <scriptableClass
            class="org.eclipse.cdt.debug.edc.internal.scripting.LaunchConfiguration"
            name="launchConfiguration">
      </scriptableClass>
      <scriptableClass
            class="org.eclipse.cdt.debug.edc.internal.scripting.StackFrame"
            name="stackFrame">
      </scriptableClass>
   </extension>
   
   <extension
        point="org.eclipse.cdt.debug.edc.executableSymbolicsReaderFactory">
     <executableSymbolicsReaderFactory
           class="org.eclipse.cdt.debug.edc.internal.symbols.files.ElfExecutableSymbolicsReaderFactory"
           name="ELF">
     </executableSymbolicsReaderFactory>
     <executableSymbolicsReaderFactory
           class="org.eclipse.cdt.debug.edc.internal.symbols.files.PEFileExecutableSymbolicsReaderFactory"
           name="PE-COFF">
     </executableSymbolicsReaderFactory>
   </extension>
   <extension
        point="org.eclipse.cdt.debug.edc.debugInfoProviderFactory">
     <debugInfoProviderFactory
           class="org.eclipse.cdt.debug.edc.internal.symbols.dwarf.DwarfDebugInfoProviderFactory"
            name="DWARF">
     </debugInfoProviderFactory>
   </extension>
    
   <extension
         point="org.eclipse.cdt.debug.edc.variableFormatProvider">
      <variableFormatProvider
            class="org.eclipse.cdt.debug.edc.formatter.DefaultCompositeFormatter"
            id="org.eclipse.cdt.debug.edc.formatter.default.composite"
            label="Default Composite Formatter">
      </variableFormatProvider>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.edc.variableFormatProvider">
      <variableFormatProvider
            class="org.eclipse.cdt.debug.edc.formatter.DefaultArrayFormatter"
            id="org.eclipse.cdt.debug.edc.formatter.default.array"
            label="Default Array Formatter">
      </variableFormatProvider>
   </extension>
  <extension
         point="org.eclipse.cdt.debug.edc.variableFormatProvider">
      <variableFormatProvider
            class="org.eclipse.cdt.debug.edc.formatter.DefaultCStringFormatter"
            id="org.eclipse.cdt.debug.edc.formatter.default.cstring"
            label="Default C String Formatter">
      </variableFormatProvider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.cdt.debug.edc.internal.EDCDebugPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.edc.variableFormatProvider">
      <variableFormatProvider
            class="org.eclipse.cdt.debug.edc.internal.formatter.qt.QStringFormatter"
            id="org.eclipse.cdt.debug.edc.formatter.qt.qstring"
            label="QString Formatter">
      </variableFormatProvider>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.edc.variableFormatProvider">
      <variableFormatProvider
            class="org.eclipse.cdt.debug.edc.internal.formatter.qt.QByteArrayFormatter"
            id="org.eclipse.cdt.debug.edc.formatter.qt.qbytearray"
            label="QByteArray Formatter">
      </variableFormatProvider>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.edc.variableFormatProvider">
      <variableFormatProvider
            class="org.eclipse.cdt.debug.edc.internal.formatter.qt.QVectorFormatter"
            id="org.eclipse.cdt.debug.edc.formatter.qt.qvector"
            label="QVector Formatter">
      </variableFormatProvider>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.edc.variableFormatProvider">
      <variableFormatProvider
            class="org.eclipse.cdt.debug.edc.internal.formatter.qt.QListFormatter"
            id="org.eclipse.cdt.debug.edc.formatter.qt.qlist"
            label="QList Formatter">
      </variableFormatProvider>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.edc.variableFormatProvider">
      <variableFormatProvider
            class="org.eclipse.cdt.debug.edc.internal.formatter.qt.QSetQHashFormatter"
            id="org.eclipse.cdt.debug.edc.formatter.qt.qsetqhash"
            label="QSet and QHash Formatter">
      </variableFormatProvider>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.edc.variableFormatProvider">
      <variableFormatProvider
            class="org.eclipse.cdt.debug.edc.internal.formatter.qt.QHashNodeFormatter"
            id="org.eclipse.cdt.debug.edc.formatter.qt.qhashnode"
            label="QHashNode Formatter">
      </variableFormatProvider>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.edc.variableFormatProvider">
      <variableFormatProvider
            class="org.eclipse.cdt.debug.edc.internal.formatter.qt.QVariantFormatter"
            id="org.eclipse.cdt.debug.edc.formatter.qt.qvariant"
            label="QVariant Formatter">
      </variableFormatProvider>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.edc.variableFormatProvider">
      <variableFormatProvider
            class="org.eclipse.cdt.debug.edc.internal.formatter.qt.QLinkedListFormatter"
            id="org.eclipse.cdt.debug.edc.formatter.qt.qlinkedlist"
            label="QLinkedList Formatter">
      </variableFormatProvider>
   </extension>
</plugin>
