<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   


 <extension
       point="org.eclipse.debug.ui.launchConfigurationTabs">
    <tab
          class="org.eclipse.cdt.launch.ui.CMainTab"
          group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
          id="org.eclipse.cdt.debug.edc.internal.windows.ui.mainTab"
          name="Main">
       <associatedDelegate
             delegate="org.eclipse.cdt.debug.edc.windows.localLaunchDelegate">
       </associatedDelegate>
    </tab>
    <tab
          class="org.eclipse.cdt.launch.ui.CArgumentsTab"
          group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
          id="org.eclipse.cdt.debug.edc.internal.windows.ui.argumentsTab"
          name="Arguments">
       <associatedDelegate
             delegate="org.eclipse.cdt.debug.edc.windows.localLaunchDelegate">
       </associatedDelegate>
       <placement
             after="org.eclipse.cdt.cdi.launch.mainTab">
       </placement>
    </tab>
    <tab
          class="org.eclipse.debug.ui.EnvironmentTab"
          group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
          id="org.eclipse.cdt.debug.edc.internal.windows.ui.environmentTab"
          name="Environment">
       <associatedDelegate
             delegate="org.eclipse.cdt.debug.edc.windows.localLaunchDelegate">
       </associatedDelegate>
       <placement
             after="org.eclipse.cdt.cdi.launch.argumentsTab">
       </placement>
    </tab>
    <tab
          class="org.eclipse.cdt.debug.edc.internal.ui.launch.RegularDebuggerTab"
          group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
          id="org.eclipse.cdt.debug.edc.internal.windows.ui.debuggerTab"
          name="Debugger (regular)">
       <associatedDelegate
             delegate="org.eclipse.cdt.debug.edc.windows.localLaunchDelegate">
       </associatedDelegate>
       <placement
             after="org.eclipse.debug.ui.environmentTab">
       </placement>
    </tab>
    <tab
          class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab"
          group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
          id="org.eclipse.cdt.debug.edc.internal.windows.ui.sourceTab"
          name="Source">
       <associatedDelegate
             delegate="org.eclipse.cdt.debug.edc.windows.localLaunchDelegate">
       </associatedDelegate>
       <placement
             after="org.eclipse.cdt.debug.edc.ui.launch.regularDebuggerTab">
       </placement>
    </tab>
    <tab
          class="org.eclipse.debug.ui.CommonTab"
          group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
          id="org.eclipse.cdt.debug.edc.internal.windows.ui.commonTab"
          name="Common">
       <associatedDelegate
             delegate="org.eclipse.cdt.debug.edc.windows.localLaunchDelegate">
       </associatedDelegate>
       <placement
             after="org.eclipse.debug.ui.sourceLookupTab">
       </placement>
    </tab>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTabs">
    <tab
          class="org.eclipse.cdt.debug.edc.internal.ui.launch.AttachDebuggerTab"
          group="org.eclipse.cdt.launch.attachLaunchTabGroup"
          id="org.eclipse.cdt.debug.edc.internal.windows.ui.attachDebuggerTab"
          name="Debugger (attach)">
       <associatedDelegate
             delegate="org.eclipse.cdt.debug.edc.windows.attachLaunchDelegate">
       </associatedDelegate>
    </tab>
    <tab
          class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab"
          group="org.eclipse.cdt.launch.attachLaunchTabGroup"
          id="org.eclipse.cdt.debug.edc.internal.windows.ui.attachSourceTab"
          name="Source">
       <associatedDelegate
             delegate="org.eclipse.cdt.debug.edc.windows.attachLaunchDelegate">
       </associatedDelegate>
       <placement
             after="org.eclipse.cdt.debug.edc.ui.launch.attachDebuggerTab">
       </placement>
    </tab>
    <tab
          class="org.eclipse.debug.ui.CommonTab"
          group="org.eclipse.cdt.launch.attachLaunchTabGroup"
          id="org.eclipse.cdt.debug.edc.internal.windows.ui.attachCommonTab"
          name="Common">
       <associatedDelegate
             delegate="org.eclipse.cdt.debug.edc.windows.attachLaunchDelegate">
       </associatedDelegate>
       <placement
             after="org.eclipse.debug.ui.sourceLookupTab">
       </placement>
    </tab>
 </extension>	

</plugin>
